article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: sans-serif;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(images/audience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header-text h1 {
    font-family: 'Hind', sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 5%;
    text-shadow: 0px 0px 10px white;
}

/* Hiding the Container Text at Full Size. Will appear later on resize  */
.container-text {
    display: none;
}

/* Styling Container holding all the buttons */
.buttons-container-large {
    position: absolute;
    bottom: 50px;
    background: rgba(0,0,0,0.7);
    padding: 50px;
    margin: 0 10px;
    box-shadow: 0px 0px 10px 10px white;
}

/* Arranging buttons in a row */
.top-row,
.middle-row,
.bottom-row,
.bottom-special,
.buttons-green,
.buttons-pink,
.buttons-orange,
.buttons-blue-top,
.buttons-yellow,
.buttons-blue-bottom {
    display: flex;
}

/* Styling and arranging all buttons to look like a keyboard */
.middle-row {
    margin-left: 20px;
}

.bottom-row {
    margin-left: 50px;;
}

.square {
    width: 60px;
}

.button {
    margin: 7px;
    height: 60px;
    transition: 0.1s;
}

/* Delete Button */
.delete {
    width: 80px;
}

/* Enter Button */
.enter {
    width: 114px;
    height: 60px;
    background-color: red;
}

/* Shift Button */
.shift {
    width: 158px;
}

/* Styling Small Letters On Each Button */
div p:first-child {
    margin: 0;
    padding: 3px 0 0 3px;
    color: rgba(0,0,0,0.3);
}

div p:nth-child(2) {
    color: rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    padding-top: 13px;
    font-size: 12px;

}
div p:nth-child(2):before {
    content: '';
    width: 40px;
    border-top: 1px dashed rgba(0,0,0,0.2);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.loop-icon {
    display: flex;
    justify-content: center;
}

/* Styling Looping Icons inside buttons */
.drumloop img,
.guitarloop img,
.hihat img {
    width: 40px;
    display: inline-block;
    opacity: 0.1;
    margin-top: -6px;
}

.applause {
    display: flex;
    justify-content: center;
    align-items: center;
}

.applause img {
    width: 40px;
    margin-left: -10px;
}

.drumloop {
    background: rgb(170,255,0);
}

.guitarloop {
    background-color: rgb(255,0,170);
}

.dj {
    background-color: rgb(0,170,255);
}

.drum-sounds {
    background-color: rgb(255,170,0)
}

.hihat {
    background-color: yellow;
}

/* Styling Highlight Function for when button is pressed */
.highlight {
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.8);
    transform: scale(1.1);
}

.animation-container {
    position: absolute;
    left: 0;
    top: 26%;
}

.animation {
    height: 20px;
    opacity: 0.8;
}
.animation-green {
    background: rgb(170,255,0);
    width: 220px;
    animation: green-bars 3s linear infinite;
}
.animation-pink {
    background-color: rgb(255,0,170);
    width: 140px;
    animation: pink-bars 3s linear infinite;
}

.animation-orange {
    background-color: rgb(255,170,0);
    width: 140px;
    animation: orange-bars 3s linear infinite;
}
.animation-blue-left {
    background-color: rgb(0,170,255);
    width: 100px;
    animation: blue-left-bars 3s linear infinite;
}
.animation-yellow {
    background-color: yellow;
    width: 60px;
    animation: yellow-bars 3s linear infinite;
}
.animation-blue-right {
    background-color: rgb(0,170,255);
    width: 140px;
    animation: blue-right-bars 3s linear infinite;
}

    
@keyframes green-bars {
    0% {
        width: 220px;
    }
    50% {
        width: 100px;
    }

    100% {
        width: 220px;
    }
}

@keyframes pink-bars {
    0% {
        width: 140px;
    }
    50% {
        width: 220px;
    }
    100% {
        width: 140px;
    }
}

@keyframes orange-bars {
    0% {
        width: 140px;
    }
    50% {
        width: 80px;
    }
    100% {
        width: 140px;
    }
}

@keyframes blue-left-bars {
    0% {
       width: 100px;
    }
    50% {
        width: 130px;
    }
    100% {
        width: 100px;
    }
}

@keyframes yellow-bars {
      0% {
        width: 60px;
    }
    50% {
        width: 220px;
    }
    100% {
        width: 60px;
    }
}
@keyframes blue-right-bars {
    0% {
       width: 120px;
    }
    50% {
        width: 180px;
    }
    100% {
        width: 120px;
    }
}







/*  Media Queries */

@media (max-width: 1090px) {
    
    /* Hiding Header Text outside of buttons container */
    .header-text {
        display: none;
    }
/* Hiding animation on resize */
    .animation-container {
        display: none;
    }

    /* Revealing Header text within buttons container */
    .container-text {
        display: block;
        font-family: 'Hind', sans-serif;
        text-shadow: 0px 0px 10px white;
        color: white;
        text-align: right;
        font-size: 30px;
        position: relative;
        top: -10%;
        margin: 0;
    }

    /* Resizing buttons container large */
    .buttons-container-large {
        height: 100vh;
        position: relative;
        bottom: 0;
    }
    
    /* repositioning buttons container small */
    .buttons-container-small {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* rearranging buttons in a column formation */
    .buttons-green,
    .buttons-pink,
    .buttons-orange,
    .buttons-yellow,
    .buttons-blue-bottom,
    .buttons-blue-top {
        flex-direction: column;
        justify-content: flex-end;
    }

    /* arranging columns in rows */
    .buttons-container-small {
        display: flex;
    }

    /* hiding the enter and shift buttons */
    .special {
        display: none;
    }

    /* removing margin between columns */
    .top-row,
    .middle-row,
    .bottom-row,
    .special {
        margin-left: 0;
    }
    /* resizing buttons */
    .button {
        height: 80px;
    }
    
    .square {
        width: 80px;
        margin: 10px;
    }

    /* hiding letter keys since no keyboard is used with tablet */
    p:first-of-type {
        display: none;
    }


    /* Styling Looping Icons inside buttons */
    .drumloop img,
    .guitarloop img,
    .hihat img {
        width: 60px;
        display: inline-block;
        opacity: 0.1;
        margin-top: 10px;
    }
   
    /* Adjusting text within buttons */
    p:nth-child(2) {
        margin-top: 20px;
        font-size: 100px;
        text-transform: uppercase;
    }
    
    /* Hiding style lines */
    p:nth-child(2):before {
        display: none;
    }
}

@media(max-width: 640px) {
    
    /* shrinking buttons */
    .square {
        margin: 5px;
    }
    /* shrinking header text */
    .container-text {
        font-size: 25px;
        line-height: 1;
    }
}

/* Continuously shrinking buttons */
@media (max-width: 560px) {
    .square {
        width: 70px;
        margin: 2px;
    } 
} 

@media (max-width: 480px) {
    .square {
        width: 60px;
    }
}

@media (max-width: 410px) {
    .square {
        width: 50px;
    }
}

@media (max-width: 350px) {
    .square {
        margin: 8px 2px;
        width: 30px;
    }
}