article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: sans-serif;
    background: black;
    background-image: url(images/audience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.buttons-container-large {
    position: absolute;
    bottom: 50px;
    background: rgba(0,0,0,0.7);
    padding: 50px;
    margin: 0 10px;
    box-shadow: 0px 0px 10px 10px white;
}

.top-row,
.middle-row,
.bottom-row,
.bottom-special,
.buttons-green,
.buttons-pink,
.buttons-orange,
.buttons-blue-top,
.buttons-yellow,
.buttons-blue-bottom {
    display: flex;
}

.middle-row {
    margin-left: 20px;
}

.bottom-row {
    margin-left: 50px;;
}

.square {
    width: 60px;
}

.button {
    margin: 7px;
    height: 60px;
    transition: 0.1s;
}

.delete {
    width: 80px;
}

.enter {
    width: 114px;
    height: 60px;
}

.shift {
    width: 158px;
}

.space {
    width: 425px;
    margin-left: 315px;
}

.special {
    background-color: red;
}

div p:first-child {
    margin: 0;
    padding: 3px 0 0 3px;
    color: rgba(0,0,0,0.3);
}

.drumloop {
    background: rgb(170,255,0);
}

.guitarloop {
    background-color: rgb(255,0,170);
}

.dj {
    background-color: rgb(0,170,255);
}

.drum-sounds {
    background-color: rgb(255,170,0)
}

.hihat {
    background-color: yellow;
}

.highlight {
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.8);
    transform: scale(1.1);
}

/*  Media Queries */

@media (max-height: 770px) {
    .buttons {
        padding: 15px;
    }
}

@media (max-width: 1090px) {
    
    .buttons-container-large {
        height: 100vh;
        position: relative;
        bottom: 0;
    }
    .buttons-container-small {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .buttons-green,
    .buttons-pink,
    .buttons-orange,
    .buttons-yellow,
    .buttons-blue-bottom,
    .buttons-blue-top {
        flex-direction: column;
        justify-content: flex-end;
    }
    .buttons-container-small {
        display: flex;
    }
    .special {
        display: none;
    }
    .top-row,
    .middle-row,
    .bottom-row,
    .special {
        margin-left: 0;
    }
    .button {
        height: 80px;
    }
    
    .square {
        width: 80px;
        margin: 10px;
    }

    p {
        display: none;
    }
   
}

@media(max-width: 640px) {
    .button {
    }
    .square {
        margin: 5px;
    }
}

@media (max-width: 560px) {
    .square {
        width: 70px;
        margin: 2px;
    } 
} 

@media (max-width: 480px) {
    .square {
        width: 60px;
    }
}

@media (max-width: 410px) {
    .square {
        width: 50px;
    }
}

@media (max-width: 350px) {
    .square {
        margin: 8px 2px;
        width: 30px;
    }
}