@media (max-width: 1090px) {

    // shifting header text downwards
    .header-text h1 {
        top: -30px;
    }
    /* resizing buttons */
    .button {
        height: 48px;
    }
    
    .square {
        width: 48px;
        margin: 5px;
    }

    // reducing margin-left on middle row
    .middle-row {
        margin-left: 10px;
    }
    // reducing margin-left on bottom row
    .bottom-row {
        margin-left: 30px;
    }

    /* Shrinking Enter Button */
    .enter {
        width: 93px;
    }

    /* Shrinking Shift Button */
    .shift {
        width: 130px;
    }

    // reducing padding on large container
    .buttons-container-large {
        padding: 20px;
    }

    // shrink loop images 
    .drumloop img,
    .guitarloop img,
    .hihat img {
        width: 20px;
    }

    // raising text for looping buttons
    .drumloop p:nth-child(2),
    .guitarloop p:nth-child(2),
    .hihat p:nth-child(2) {
        top: -22px;
    }

    // raising bottom text for all non-looping bottom texts
    div p:nth-child(2) {
        top: 0;
    }
    .animation-container .animation-green2,
    .animation-container .animation-orange2,
    .animation-container .animation-yellow2,
    .animation-container .animation-pink2,
    .animation-container .animation-blue-left2,
    .animation-container .animation-blue-right2 {
        display: none;
    }

}

@media (max-width: 830px) {
    /* Hiding Header Text outside of buttons container */
    .header-text {
        display: none;
    }
    
    /* Hiding animation on resize */
    .animation-container {
        display: none;
    }

    /* Revealing Header text within buttons container */
    .container-text {
        display: block;
        font-family: 'Hind', sans-serif;
        text-shadow: 0px 0px 10px white;
        color: white;
        text-align: center;
        font-size: 25px;
        position: relative;
        margin: 0;
        @media (max-height: 570px) {
            top: -15px;
        }
    }

    /* Resizing buttons container large */
    .buttons-container-large {
        height: 100vh;
        position: relative;
        bottom: 0px;
    }
    
    /* repositioning buttons container small */
    .buttons-container-small {
        display: flex;
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* rearranging buttons in a column formation */
    .buttons-green,
    .buttons-pink,
    .buttons-orange,
    .buttons-yellow,
    .buttons-blue-bottom,
    .buttons-blue-top {
        flex-direction: column;
        justify-content: flex-end;
    }

    /* hiding the enter and shift buttons */
    .special {
        display: none;
    }

    /* removing margin between columns */
    .top-row,
    .middle-row,
    .bottom-row,
    .special {
        margin-left: 0px;
    }
    
    /* shrinking button sizes */
    .button {
        height: 50px;
        margin: 5px 10px;
    }
    
    .square {
        width: 50px;
    }

    /* hiding letter keys since no keyboard is used with tablet */
    div p:nth-child(2) {
        position: relative;
        top: 5px;
        font-size: 10px;
    }

    // increase darkness of text
    div p:nth-child(2),
    div p:nth-child(2):before {
        color: rgba(0,0,0,0.5);
    }

    // reposition bottom text with loops
    .drumloop p:nth-child(2),
    .guitarloop p:nth-child(2),
    .hihat p:nth-child(2) {
        top: -20px;
        left: -2px;
    }

    // reposition looping icon
    .loop-icon {
        position: relative;
        top: 0px;
        right: -2px;
    }
    
    // moving footer up top, shrinking box size
    footer {
        top: 0;
        height: 30px;

    }
    // footer text 
    h3 {
        font-size: 10px;
        padding-top: 0;
    }

}

@media (max-width: 450px) {
    .container-text {
        font-size: 20px;
        top: 30px;
    }
    
    /* shrinking buttons */
    .button {
        height: 44px;
    }
    
    .square {
        width: 40px;
    }

    /* Styling Looping Icons inside buttons */
    .drumloop img,
    .guitarloop img,
    .hihat img {
        width: 15px;
    }

    // shrinking and repositioning bottom text that don't have looping icons
    div p:nth-child(2) {
        position: relative;
        top: 0px;
        font-size: 10px;
    }
}


