article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.animation {
  width: 20px;
  opacity: 0.8; }

.animation-green {
  background: #aaff00;
  height: 220px;
  -webkit-animation: green-bars 3s linear infinite;
  animation: green-bars 3s linear infinite; }

.animation-pink {
  background-color: #ff00aa;
  height: 140px;
  -webkit-animation: pink-bars 3s linear infinite;
  animation: pink-bars 3s linear infinite; }

.animation-orange {
  background-color: #ffaa00;
  height: 140px;
  -webkit-animation: orange-bars 3s linear infinite;
  animation: orange-bars 3s linear infinite; }

.animation-blue-left {
  background-color: #00aaff;
  height: 100px;
  -webkit-animation: blue-left-bars 3s linear infinite;
  animation: blue-left-bars 3s linear infinite; }

.animation-yellow {
  background-color: yellow;
  height: 60px;
  -webkit-animation: yellow-bars 3s linear infinite;
  animation: yellow-bars 3s linear infinite; }

.animation-blue-right {
  background-color: #00aaff;
  height: 140px;
  -webkit-animation: blue-right-bars 3s linear infinite;
  animation: blue-right-bars 3s linear infinite; }

.animation-green2 {
  background: #aaff00;
  height: 220px;
  -webkit-animation: green-bars 3s linear infinite;
  animation: green-bars 3s linear infinite; }

.animation-pink2 {
  background-color: #ff00aa;
  height: 140px;
  -webkit-animation: pink-bars 3s linear infinite;
  animation: pink-bars 3s linear infinite; }

.animation-orange2 {
  background-color: #ffaa00;
  height: 140px;
  -webkit-animation: orange-bars 3s linear infinite;
  animation: orange-bars 3s linear infinite; }

.animation-blue-left2 {
  background-color: #00aaff;
  height: 100px;
  -webkit-animation: blue-left-bars 3s linear infinite;
  animation: blue-left-bars 3s linear infinite; }

.animation-yellow2 {
  background-color: yellow;
  height: 60px;
  -webkit-animation: yellow-bars 3s linear infinite;
  animation: yellow-bars 3s linear infinite; }

.animation-blue-right2 {
  background-color: #00aaff;
  height: 140px;
  -webkit-animation: blue-right-bars 3s linear infinite;
  animation: blue-right-bars 3s linear infinite; }

@-webkit-keyframes green-bars {
  0% {
    height: 90px; }
  50% {
    height: 30px; }
  100% {
    height: 90px; } }

@keyframes green-bars {
  0% {
    height: 90px; }
  50% {
    height: 30px; }
  100% {
    height: 90px; } }

@-webkit-keyframes pink-bars {
  0% {
    height: 70px; }
  50% {
    height: 20px; }
  100% {
    height: 70px; } }

@keyframes pink-bars {
  0% {
    height: 70px; }
  50% {
    height: 20px; }
  100% {
    height: 70px; } }

@-webkit-keyframes orange-bars {
  0% {
    height: 60px; }
  50% {
    height: 40px; }
  100% {
    height: 60px; } }

@keyframes orange-bars {
  0% {
    height: 60px; }
  50% {
    height: 40px; }
  100% {
    height: 60px; } }

@-webkit-keyframes blue-left-bars {
  0% {
    height: 70px; }
  50% {
    height: 60px; }
  100% {
    height: 70px; } }

@keyframes blue-left-bars {
  0% {
    height: 70px; }
  50% {
    height: 60px; }
  100% {
    height: 70px; } }

@-webkit-keyframes yellow-bars {
  0% {
    height: 20px; }
  50% {
    height: 80px; }
  100% {
    height: 20px; } }

@keyframes yellow-bars {
  0% {
    height: 20px; }
  50% {
    height: 80px; }
  100% {
    height: 20px; } }

@-webkit-keyframes blue-right-bars {
  0% {
    height: 80px; }
  50% {
    height: 70px; }
  100% {
    height: 80px; } }

@keyframes blue-right-bars {
  0% {
    height: 80px; }
  50% {
    height: 70px; }
  100% {
    height: 80px; } }

body {
  font-family: sans-serif;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent)), url(../images/audience.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../images/audience.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../images/audience.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../images/audience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

.header-text h1 {
  font-family: 'Hind', sans-serif;
  color: white;
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -70px;
  text-shadow: 0px 0px 10px white; }

/* Hiding the Container Text at Full Size. Will appear later on resize  */
.container-text {
  display: none; }

/* Styling Container holding all the buttons */
.buttons-container-large {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  box-shadow: 0px 0px 10px 10px white; }

/* Arranging buttons in a row */
.top-row,
.middle-row,
.bottom-row,
.bottom-special,
.buttons-green,
.buttons-pink,
.buttons-orange,
.buttons-blue-top,
.buttons-yellow,
.buttons-blue-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Styling and arranging all buttons to look like a keyboard */
.middle-row {
  margin-left: 20px; }

.bottom-row {
  margin-left: 50px; }

.square {
  width: 60px; }

.button {
  margin: 7px;
  height: 60px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

/* Delete Button */
.delete {
  width: 80px; }

/* Enter Button */
.enter {
  width: 114px;
  height: 60px;
  background-color: red; }

/* Shift Button */
.shift {
  width: 158px; }

/* Styling Small Letters On Each Button */
div p:first-child {
  margin: 0;
  padding: 3px 0 0 3px;
  color: rgba(0, 0, 0, 0.3); }

div p:nth-child(2) {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  top: 13px;
  font-size: 12px; }

div p:nth-child(2):before {
  content: '';
  width: 40px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.drumloop p:nth-child(2),
.guitarloop p:nth-child(2),
.hihat p:nth-child(2) {
  top: -20px;
  padding: 0; }

.loop-icon {
  text-align: right;
  display: block; }

/* Styling Looping Icons inside buttons */
.drumloop img,
.guitarloop img,
.hihat img {
  width: 28px;
  display: inline-block;
  opacity: 0.3;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  top: -20px; }

.applause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.applause img {
  width: 40px;
  margin-left: -10px; }

.drumloop {
  background: #aaff00; }

.guitarloop {
  background-color: #ff00aa; }

.dj {
  background-color: #00aaff; }

.drum-sounds {
  background-color: #ffaa00; }

.hihat {
  background-color: yellow; }

/* Styling Highlight Function for when button is pressed */
.highlight {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.animation-container {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1); }

@media (max-width: 1090px) {
  .header-text h1 {
    top: -30px; }
  /* resizing buttons */
  .button {
    height: 48px; }
  .square {
    width: 48px;
    margin: 5px; }
  .middle-row {
    margin-left: 10px; }
  .bottom-row {
    margin-left: 30px; }
  /* Shrinking Enter Button */
  .enter {
    width: 93px; }
  /* Shrinking Shift Button */
  .shift {
    width: 130px; }
  .buttons-container-large {
    padding: 20px; }
  .drumloop img,
  .guitarloop img,
  .hihat img {
    width: 20px; }
  .drumloop p:nth-child(2),
  .guitarloop p:nth-child(2),
  .hihat p:nth-child(2) {
    top: -22px; }
  div p:nth-child(2) {
    top: 0; }
  .animation-container .animation-green2,
  .animation-container .animation-orange2,
  .animation-container .animation-yellow2,
  .animation-container .animation-pink2,
  .animation-container .animation-blue-left2,
  .animation-container .animation-blue-right2 {
    display: none; } }

@media (max-width: 830px) {
  /* Hiding Header Text outside of buttons container */
  .header-text {
    display: none; }
  /* Hiding animation on resize */
  .animation-container {
    display: none; }
  /* Revealing Header text within buttons container */
  .container-text {
    display: block;
    font-family: 'Hind', sans-serif;
    text-shadow: 0px 0px 10px white;
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    margin: 0; }
  /* Resizing buttons container large */
  .buttons-container-large {
    height: 100vh;
    position: relative;
    bottom: 0; }
  /* repositioning buttons container small */
  .buttons-container-small {
    position: absolute;
    bottom: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  /* rearranging buttons in a column formation */
  .buttons-green,
  .buttons-pink,
  .buttons-orange,
  .buttons-yellow,
  .buttons-blue-bottom,
  .buttons-blue-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  /* arranging columns in rows */
  .buttons-container-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  /* hiding the enter and shift buttons */
  .special {
    display: none; }
  /* removing margin between columns */
  .top-row,
  .middle-row,
  .bottom-row,
  .special {
    margin-left: 0px; }
  /* shrinking button sizes */
  .button {
    height: 50px;
    margin: 5px 10px; }
  .square {
    width: 50px; }
  /* hiding letter keys since no keyboard is used with tablet */
  div p:nth-child(2) {
    position: relative;
    top: 5px;
    font-size: 10px; }
  div p:nth-child(2),
  div p:nth-child(2):before {
    color: rgba(0, 0, 0, 0.5); }
  .drumloop p:nth-child(2),
  .guitarloop p:nth-child(2),
  .hihat p:nth-child(2) {
    top: -20px;
    left: -2px; }
  .loop-icon {
    position: relative;
    top: 0px;
    right: -2px; } }

@media (max-width: 450px) {
  .container-text {
    font-size: 20px; }
  /* shrinking buttons */
  .button {
    height: 44px; }
  .square {
    width: 40px; }
  /* Styling Looping Icons inside buttons */
  .drumloop img,
  .guitarloop img,
  .hihat img {
    width: 15px; }
  div p:nth-child(2) {
    position: relative;
    top: 0px;
    font-size: 10px; } }
